.container {
  max-width: 960px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and(max-width:768px) {
  .container {
    padding: 0 8px;
  }
}
.fv {
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  margin-bottom: 100px;
  position: relative;
}
.fv::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d5396;
  opacity: 0.4;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.section-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}
.section-text {
  width: 48%;
}
.section-img {
  background-image: url("https://cdn.pixabay.com/photo/2015/01/09/11/09/meeting-594091_1280.jpg");
  width: 48%;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .section-contents {
    flex-direction: column-reverse;
  }
  .section-text {
    width: 100%;
  }
  .section-img {
    width: 100%;
    height: 300px;
    margin-bottom: 16px;
  }
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #1d5396;
  margin: 0 auto 16px;
  border-bottom: 1px solid #1d5396;
  display: inline-block;
}

.large-text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}
.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}
.medium-text {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
.small-text {
  font-size: 1.6rem;
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  width: 46%;
  height: auto;
  padding: 16px;
  background-color: aliceblue;
}
@media screen and (max-width: 768px) {
  .article {
    justify-content: center;
  }
  .article-content {
    width: 100%;
  }
}

.news {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}
.news-text {
  font-size: 1.4rem;
}
.news-content {
  font-size: 1.4rem;
  width: 60%;
}
